<div fxLayout="column">

    <app-navbar-usuario></app-navbar-usuario>


    <mat-toolbar class="contenedorCajaVerde" color="accent" style="margin-bottom: 32px">

        <div fxFlex="2.5" fxFlex.gt-xs="10"></div>

        <div fxFlex="95" fxFlex.gt-xs="80">
            <mat-toolbar-row class="contenedoDeBotonYTexto" fxLayout="row" fxLayoutAlign="space-between center">

                <div>
                    <span>Seleccione el Proyecto</span>
                </div>

                <div>
                    <button mat-raised-button (click)="crearProyecto()">Crear nuevo proyecto</button>
                </div>

            </mat-toolbar-row>
        </div>

        <div fxFlex="2.5" fxFlex.gt-xs="10"></div>

    </mat-toolbar>






    <!-- <mat-toolbar color="accent" style="margin-bottom: 32px;">
        <mat-toolbar-row>

            <div fxLayout="row" fxFill>
                <div fxFlex="20"></div>

                <div fxFlex="60" fxLayoutAlign="space-between center">
                    <span>Seleccione el Proyecto</span>

                    <button mat-raised-button (click)="crearProyecto()">Crear nuevo proyecto</button>
                </div>

                <div fxFlex></div>
            </div>

        </mat-toolbar-row>
    </mat-toolbar> -->




    <div fxLayout="row" fxFill>
        <div fxFlex="5" fxFlex.gt-xs="15" fxFlex.gt-md="20"></div>

        <div fxFlex="90" fxFlex.gt-xs="70" fxFlex.gt-md="60">

            <h3>Proyectos</h3>

            <mat-selection-list [multiple]="false">

                <div class="contenedor-seleccionar-proyecto" *ngFor="let proyecto of proyectos">

                    <div fxFlex="90">
                        <mat-list-option (click)="seleccionarProyecto(proyecto)">

                            <mat-icon mat-list-icon>home</mat-icon>
                            <h3 mat-line> {{ proyecto.n }} </h3>
                            <span mat-line> {{ proyecto.d }} </span>

                        </mat-list-option>
                    </div>

                    <div fxFlex="10">
                        <button mat-icon-button [matMenuTriggerFor]="menuDesplegar"
                            aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #menuDesplegar="matMenu">
                            <button mat-menu-item (click)="editar(proyecto)">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </mat-selection-list>

        </div>

        <div fxFlex="5" fxFlex.gt-xs="15" fxFlex.gt-md="20"></div>
    </div>
</div>