<app-navbar-usuario></app-navbar-usuario>

<div class="container-fluid" style="padding: 0px;">
    <div class="row subNavBar">

        <div class="col"></div>

        <div class="col-10 subHeader" style="display: flex;">
            <div>
                <h4 style="margin-bottom: 0px;">
                    Seleccione el proyecto
                </h4>
            </div>
        </div>

        <div class="col"></div>

    </div>
</div>

<hr>

<mat-selection-list [multiple]="false">
    <mat-list-option role="listitem" *ngFor="let p of proyectos" (click)="seleccionarProyecto(p)">
        <!-- <mat-icon mat-list-icon>home</mat-icon> -->
        <h3 mat-line>
            {{p.n}}
        </h3>
        <p mat-line>{{p.d}}</p>
    </mat-list-option>
</mat-selection-list>