.subNavBar {
    width: 100%;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
}

.subHeader {
    justify-content: space-between;
    align-items: center;
}