<app-navbar-usuario></app-navbar-usuario>
<p class="tituloInicio">
    Reuniones de sincronización diarias ({{page.proyectoSeleccionado?.n}})
</p>

<div class="contenedorCuadrado">
    <div class="cuadrado">

        <div class="col=3 posicionBotones">
            <button mat-raised-button color="primary" style="font-size: large" (click)="ayer()">
                ¿Qué hice ayer?
            </button>
        </div>

        <div class="col=6 posicionBotones">
            <button mat-raised-button color="primary" style="font-size: large" (click)="hoy()">
                ¿Qué voy a hacer hoy?
            </button>
        </div>

        <div class="col=9 posicionBotones">
            <button mat-raised-button color="primary" style="font-size: large" (click)="dificultades()">
                ¿Qué dificultades preveo?
            </button>
        </div>

    </div>




</div>
<div class="row"></div>