<div fxLayout="column">
    <app-navbar-usuario></app-navbar-usuario>
    <mat-toolbar class="margin-b" color="accent">
        <div fxFlex="2.5" fxFlex.gt-xs="10"></div>

        <div fxFlex="95" fxFlex.gt-xs="80">
            <mat-toolbar-row class="sin-padding" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-icon-button color="primary" aria-label="Volver" (click)="volver();">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <span>Cargar Reunión</span>
                </div>
                <button mat-button (click)="grabar()">GRABAR</button>
            </mat-toolbar-row>
        </div>

        <div fxFlex="2.5" fxFlex.gt-xs="10"></div>
    </mat-toolbar>


    <div fxLayout="row" fxFill>
        <div fxFlex="5" fxFlex.gt-xs="15" fxFlex.gt-md="20"></div>

        <div fxFlex="90" fxFlex.gt-xs="70" fxFlex.gt-md="60" fxLayout="column" fxLayoutAlign="space-between stretch"
            fxLayoutGap="1rem">
            <h3>{{proyectoSeleccionado?.d}}</h3>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="exp-height">
                        <mat-panel-title>
                            ¿Que hice ayer?
                        </mat-panel-title>
                        <mat-panel-description>
                            Tareas realizadas el dia de ayer
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-list class="margin-t">

                        <mat-form-field appearance="fill">
                            <mat-label>Agregar una tarea</mat-label>
                            <mat-select [(value)]="tareaAyerSeleccionada"
                                (valueChange)="seleccionarTareaAyer(tareaAyerSeleccionada)">
                                <mat-option>(Seleccione una tarea)</mat-option>
                                <mat-option [value]="{id:'-1'}">Agregar una nueva tarea</mat-option>
                                <mat-option *ngFor="let t of tareasSinAsignar" [value]="t">{{t.d}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-list-item *ngFor="let i of tareasAyer">
                            <mat-icon mat-list-icon>done</mat-icon>
                            <h4 mat-line>{{i.d}}</h4>
                            <button mat-icon-button (click)="removerAyer(i)">
                                <mat-icon>delete</mat-icon>
                            </button>


                            <!-- <p mat-line>{{i.descripcion}}</p> -->
                        </mat-list-item>

                    </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="exp-height">
                        <mat-panel-title>
                            ¿Que voy a hacer hoy?
                        </mat-panel-title>
                        <mat-panel-description>
                            Tareas que realizaré el dia de hoy
                        </mat-panel-description>
                    </mat-expansion-panel-header>


                    <mat-list class="margin-t">
                        <mat-form-field appearance="fill">
                            <mat-label>Agregar una tarea</mat-label>
                            <mat-select [(value)]="tareaHoySeleccionada"
                                (valueChange)="seleccionarTareaHoy(tareaHoySeleccionada)">
                                <mat-option>(Seleccione una tarea)</mat-option>
                                <mat-option [value]="{id:'-1'}">Agregar una nueva tarea</mat-option>
                                <mat-option *ngFor="let t of tareasSinAsignar" [value]="t">{{t.d}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-list-item *ngFor="let i of tareasHoy">
                            <mat-icon mat-list-icon>done</mat-icon>
                            <h4 mat-line>{{i.d}}</h4>
                            <button mat-icon-button (click)="removerHoy(i)">
                                <mat-icon>delete</mat-icon>
                            </button>


                            <!-- <p mat-line>{{i.descripcion}}</p> -->
                        </mat-list-item>

                    </mat-list>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="exp-height">
                        <mat-panel-title>
                            ¿Que problemas tengo hoy?
                        </mat-panel-title>
                        <mat-panel-description>
                            Problemas para realizar las tareas del dia de hoy
                        </mat-panel-description>
                    </mat-expansion-panel-header>


                    <mat-list class="margin-t">
                        <button mat-raised-button color="accent" (click)="agregarProblema()">Agregar un
                            problema</button>

                        <mat-list-item *ngFor="let i of problemas">
                            <mat-icon mat-list-icon>done</mat-icon>
                            <h4 mat-line>{{i.d}}</h4>
                            <button mat-icon-button (click)="removerProblema(i)">
                                <mat-icon>delete</mat-icon>
                            </button>


                            <!-- <p mat-line>{{i.descripcion}}</p> -->
                        </mat-list-item>


                    </mat-list>
                </mat-expansion-panel>
            </mat-accordion>


        </div>

        <div fxFlex="5" fxFlex.gt-xs="15" fxFlex.gt-md="20"></div>
    </div>
</div>