.margin-b {
    margin-bottom: 32px;
}

.sin-padding {
    padding: 0px
}

.exp-height {
    height: 70px;
}

/* .margin-t {
    margin-top: 2px;
} */


@media only screen and (max-width: 599px) {    
    .exp-height {
        height: 90px;
    }
}
