<div class="contenedorCuadrado">
    <div class="cuadrado" fxLayout="row">
        <div class="row" fxLayoutAlign="center center">
            <mat-form-field appearance="legacy" class="fuentesCampos">
                <mat-label>
                    Usuario
                </mat-label>
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>

            <!--Ingreso de password-->
            <mat-form-field appearance="legacy" class="fuentesCampos">
                <mat-label>
                    Contraseña
                </mat-label>
                <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password" required>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="fuentesBoton" (click)="login()">
            Login
        </button>
    </div>

</div>