.contenedorCuadrado {
    
    justify-content: center;
    margin-top: auto ;
    padding: 16% ;
  }
  
.cuadrado {
    height: auto;
    width: 85%;
    text-align: center;
    background: rgba(196, 196, 196, 0.25);
    border: 1px solid #3FA948;
    box-sizing: border-box;
    border-radius: 30px;
    align-items: center;
    padding:5% ;
}

.fuentesBoton {
    font-size: x-large;
}

.fuentesCampos {
    font-size: large;
}

@media only screen and (max-width: 900px) {


    .fuentesBoton {
        font-size: small
    }

    .fuentesCampos {
        font-size: small
    }
    
}
  
  