<app-navbar-usuario></app-navbar-usuario>
<app-sub-head-volver></app-sub-head-volver>

<div class="contenedor">
    <div class="formTareas">
        <div style="display: flex; justify-content:center; align-items:center;">
            <div>
                <h6>¿Qué dificultades preveo para realizar las tareas del día de hoy?</h6>
            </div>
        </div>
        <hr>
        <br>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Ingrese alguna dificultad..." #dificultadInput>
            <button class="btn btn-outline-secondary" type="button" (click)="agregarDificultad()">Agregar
                dificultades</button>
        </div>

        <app-dificultades-agregadas-lista></app-dificultades-agregadas-lista>

    </div>