<!-- <div class="container-fluid" style="padding: 0px;">
    <div class="row subNavBar">

        <div fxFlex="10%" ></div>

        <div fxFlex="70%">
            <h4>{{this.Reuniones.proyectoSeleccionado?.n}}</h4>
        </div>
            
        <div fxFlex="10%">
            <button class="btn btn-outline-secondary boton" (click)="volverAtras()">Volver</button>
        </div>
        <div fxFlex></div>

    </div>
</div> -->


    <mat-toolbar-row color="accent" style="margin-bottom: 32px;">
        <div fxFlex="20"></div>

        <div fxFlex="60">
            <button mat-icon-button color="white" aria-label="Volver" (click)="volverAtras();">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <span>{{this.Reuniones.proyectoSeleccionado?.n}}</span>
        </div>

        <div fxFlex></div>
    </mat-toolbar-row>

