<!-- <div class="container-fluid" style="padding: 0px;">
    <div class="row subNavBar">

        <div class="col"></div>

        <div class="col-10 subHeader" style="display: flex;">
            <div>
                <h4 style="margin-bottom: 0px;">{{this.Reuniones.proyectoSeleccionado?.n}}</h4>
            </div>
            <div>
                <button class="btn btn-outline-secondary boton" (click)="volverAtras()">Volver</button>
            </div>
        </div>

        <div class="col"></div>

    </div>
</div> -->


<mat-toolbar color="accent">
    <mat-toolbar-row>
        <div fxFlex="20"></div>

        <div fxFlex="60">
            <button mat-icon-button color="white" aria-label="Volver" (click)="volverAtras();">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <span>{{this.Reuniones.proyectoSeleccionado?.n}}</span>
        </div>

        <div fxFlex></div>
    </mat-toolbar-row>
</mat-toolbar>