<div class="navBar">

    <div class="municipio">
        <p>Municipio de Hurlingham</p>
    </div>

    <div class="contenedor">

        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                Leandroealmirón
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><a class="dropdown-item" href="#">Mis proyectos</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>

        <div class="avatar">
                <div>LA</div>
        </div>

    </div>
</div>