/* .navBar {
    width: 100%;
    height: 60px;
    background-color: #3FA948;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.navbar {
    width: 100%;
    height: 60px;
    background-color: #3FA948;
    margin: 0px;
    padding: 0px;
}

.headerMain {
    justify-content: space-between;
    align-items: center;
}

.navMain {
    justify-content: space-between;
    align-items: center;
}

.municipio {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.tituloMunicipio {
    margin-bottom: 0px;
    font-size: 32px;
}


/* .contenedor {
    display: inline-flex;
} */


.avatar {
    display: flex;
    width: 45px;
    height: 45px;
    background: #ECE4E4;
    border-radius: 100px;
    justify-content: center;
    align-items: center;

}

.dropdown {
    border: none;
    display: flex;
}

#dropdownMenuButton1 {
    color: white;
    background-color: #3FA948;
    border: none;
}

.navBar p {
    font-size: 30px;
}


@media only screen and (max-width: 588px) {
    .tituloMunicipio {
        margin-bottom: 0px;
        font-size: 15px;
    }

    .dropdown {
        font-size: 11px;
    }
}